* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: url(../design-figma/plano-fundo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
}

.container div {
    padding: 13px;
}

.container {
    display: grid;

    grid-template-areas:
    'header header header header header header header header header header header header'
    'sidebar content content content content content content content content content content content'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
}

/* Trabalhando o Header ___________________________________________________________________*/

#header {
    grid-area: header;
    background-color: #009452;
    display: flex;
    padding: 0;
    height: 60px;
}

#logo-da-clinica {
    width: 95%;
}

.voltar {
    width: 5%;
}


/* Trabalhando a barra de navegação ________________________________________________________*/

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
    height: 481px;
}

/* Trabalhando Rodapé ________________________________________________________*/

#footer {
    grid-area: footer;
    padding-top: 5px;
    background-color: #009452;
    display: flexbox;
    padding: 5px 0 0 5px;
    margin-top: 150px;
}

.links-rodape a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.end {
    color: white;
    margin-left: 5px;
    padding-bottom: 5PX;
}

#img-logo ul li{
    margin-right: 20px;
    display: flex;
    float: right;
    margin-top: 22px;
}


/* pagina quem somos_____________________________________ */

.titulo_bemestar_quemsomos {
    margin: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.subtitulo_quemsomos {
    margin: 12px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p-paginaquemsomos {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

